
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary-color: #6E36F7;
    --secondary-color: #334c99;
    --text-dark: #333;
    --text-light: #64748b;
    --text-lightest: #f1f5f9;
    --text:#ff4d4d;
    --white: #ffffff;
    --max-width: 1200px;
}

